@model List<grad2021.Models.StudentEnrollment>



<div class="row align-items-center justify-content-center">
    <div class="col-md-7 py-5">


        <form asp-action="Certs" method="get">

            <h4>@ViewData["Title"]</h4>




            <div class="row">

                <div class="col-md-4">
                </div>

                <div class="col-md-8">
                    <div class="form-group first">
                        <label> البحث بالاسم</label>
                        <input type="text" name="SearchString" placeholder="ادخل الاسم" />
                        <input type="submit" value="Search" class="btn btn-danger" />
                    </div>
                </div>

            </div>





        </form>
        @if (@ViewData["CurrentFilter"].ToString() == "أدخل اسم الطالب") { }
        else
        {
@for (int i = 0; i < Model.Count; i++)
{
<h5>الفرقة:@Html.DisplayFor(model => Model[i].LevelName)  @Html.DisplayFor(model => Model[i].AcademicYearID)</h5>
                    <h5>المجموع الكلى:@Html.DisplayFor(model => Model[i].CompleteLevelMark)  التقدير:@Html.DisplayFor(model => Model[i].StudentGrade) </h5>

                                        <table id="table">
                                            <tr>
                                                <th colspan="2" scope="colgroup">الفصل الدراسى الأول</th>
                                                <th colspan="2" scope="colgroup">الفصل الدراسى الثاني</th>
                                            </tr>
                                            <tr>
                                                @for (int b = 0; b < 2; b++)
                                                {
                            <th scope="col">اسم المادة</th>
                                                    <th scope="col">الدرجة</th>
}
                                            </tr>
                                            @{ var term1Count = Model[i].StudentCourses.Where(a => a.CourseEnrollment.Term == Term.الأول).Count();
                                                var term2Count = Model[i].StudentCourses.Where(a => a.CourseEnrollment.Term == Term.الثاني).Count();
                                                int jMax = term2Count; }
                                            @if (term1Count > term2Count) { jMax = term1Count; }

                                            @for (int j = 0; j < jMax; j++)
                                            {
                        <tr>
                            @if (j >= term1Count)
                            {
    <td></td>
                                <td></td>
 }
                            else
                            {
    <td>@Html.DisplayFor(model => Model[i].StudentCourses.Where(a => a.CourseEnrollment.Term == Term.الأول).ToList()[j].CourseEnrollment.CourseName)</td>
                                <td>@Html.DisplayFor(model => Model[i].StudentCourses.Where(a => a.CourseEnrollment.Term == Term.الأول).ToList()[j].TotalMark)</td>
}
                            @if (j >= term2Count)
                            {
    <td></td>
                                <td></td>
 }
                            else
                            {
    <td>@Html.DisplayFor(model => Model[i].StudentCourses.Where(a => a.CourseEnrollment.Term == Term.الثاني).ToList()[j].CourseEnrollment.CourseName)</td>
                                <td>@Html.DisplayFor(model => Model[i].StudentCourses.Where(a => a.CourseEnrollment.Term == Term.الثاني).ToList()[j].TotalMark)</td>
}
                        </tr>
}
                                        </table>}}

    </div>
</div>








