@model grad2021.Models.AcademicYear

@{ ViewData["Title"] = "Details";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Details</h1>


<div class="row align-items-center justify-content-center">
    <div class="col-md-7 py-5">

        <h3>هل ترغب في  حذف هذه البيانات ؟</h3>
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.FirstSemesterStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.FirstSemesterStartDate)
            </dd>


            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.FirstSemesterExamsStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.FirstSemesterExamsStartDate)
            </dd>




            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.FirstSemesterControlStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.FirstSemesterControlStartDate)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.FirstSemesterObjectionStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.FirstSemesterObjectionStartDate)
            </dd>


            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.FirstSemesterObjectionEndDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.FirstSemesterObjectionEndDate)
            </dd>


            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.SecondSemesterStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.SecondSemesterStartDate)
            </dd>


            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.SecondSemesterExamsStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.SecondSemesterExamsStartDate)
            </dd>


            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.SecondSemesterControlStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.SecondSemesterControlStartDate)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.SecondSemesterObjectionStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.SecondSemesterObjectionStartDate)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.SecondSemesterObjectionEndDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.SecondSemesterObjectionEndDate)
            </dd>


            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.NovemberExamsStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.NovemberExamsStartDate)
            </dd>



            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.NovemberControlStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.NovemberControlStartDate)
            </dd>


            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.NovemberObjectionStartDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.NovemberObjectionStartDate)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayFor(model => model.NovemberObjectionEndDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayNameFor(model => model.NovemberObjectionEndDate)
            </dd>



        </dl>
        <a asp-action="Edit" asp-route-id="@Model.AcademicYearID" class="btn btn-danger">تعديل</a> |
        <a asp-action="Index" class="btn btn-secondary">رجوع</a>
    </div>
</div>
